form {
    position: relative;
    width: 50em;
    margin: 9em auto;
    padding: 1em;
    height: 33em;
    background-color: #101010;
    border-radius: 0.5em;
}

.errorlist {
    color: red;
    margin-left: 2em;
}

label {
    margin: 1em 2em;
    display: block;
    color: #bbb7b7;
}

input {
    height: 3em;
    width: 46.5em;
    margin: 1em 2em;
    padding-left: 1em;
    border-radius: 0.3em;
    background-color: #909090;
}

button {
    position: absolute;
    bottom: 3em;
    right: 3em;
    height: 3em;
    width: 10em;
    background-color: #505050;
    color: #bbb7b7;
    border-radius: 0.3em;
    transition: font-size 200ms linear;
}

button:hover {
    font-size: 1em;
    transition: font-size 200ms linear;
}