{% extends 'base.html' %}
{% load static %}
{% load catalog_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <div class="sub-catalogs">
        {% get_sub_catalogs as sub_catalogs %}
        {% for sub_catalog in sub_catalogs %}
        <a class="sub-catalog-link"
            href="{% url 'catalog:sub_catalog' sub_catalog.name 'all types' 'all types' %}">
            <div class="sub-catalog" style='background-image:url("{% static sub_catalog.img %}");'>
                <div class="sub-catalog-label">{{ sub_catalog.label|upper }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}